:root {
  --font-family: monospace;
  --color-bg: #fff;
  --color-fg-text: #000;
  --color-fg-link: #e60070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
    --color-fg-text: #fff;
  }
}

html,
body {
  font-size: 16px;
  color: var(--color-fg-text);
  background-color: var(--color-bg);
  font-family: var(--font-family);
  margin: 0;
}

main {
  margin: 1rem;
}

ul {
  --ul-padding: 1.2rem;
  list-style-type: none;
  padding-left: var(--ul-padding);
}

ul li:before {
  content: "-";
  position: absolute;
  margin-left: calc(var(--ul-padding) * -1);
}

ul li {
  margin-bottom: 0.8rem;
}

ul li:last-child {
  margin-bottom: 0;
}

a,
a:visited {
  color: var(--color-fg-link);
  text-decoration: none;
}

a:focus,
a:hover {
  outline: thick double var(--color-fg-link);
  outline-offset: 0.1rem;
}
